
// colors:
$primary-background: #c3efea;
$link-color: #666;  // was #4ed1be, but that's way too low contrast. #1D7268 works, but is kinda ugly

$side-padding: 4vw;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.8rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: $side-padding;
    padding-right: $side-padding;
    nav {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        a {
            margin-right: 1.3vw;
            color: black;
            &.active {
                border-bottom: 2px solid black;
            }
        }
        a:hover {
            color: $link-color;
            text-decoration: none;
            &.active {
                border-bottom: 2px solid $link-color;
            }
        }
        a:last-child {
            background-color: black;
            color: $primary-background;
            border: 1.3vw solid black;
            margin-right: 0;
            &:hover {
                background-color: $link-color;
                color: $primary-background;
                border: 1.3vw solid $link-color;
            }
        }
    }
}
header img {
    width: auto;
    max-width: 100%;
    max-height: 70px;
}

header, footer {
    background-color: $primary-background;
}

.restaurant-card {
    h4 {
        font-size: 1.5rem;
        font-weight: normal;
    }
    a {
        display: block;
    }
}